<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- Incorporamos en la etiqueta html la URL de thymeleaf -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>CRUD Branch</title>

</head>
<body>
    <!-- BARRA DE NAVEGACIÓN -->
    <header th:fragment="header"> <!-- Introduciremos la barra de navegación -->


    </header>

    <!-- CONTENIDO -->
    <div class="container"> <!-- Introduciremos el contenido dinámico de nuestra página -->



    </div>

    <!-- PIE PAGINA -->
    <footer th:fragment="footer">



    </footer>

</body>
</html>