<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- Incorporamos en la etiqueta html la URL de thymeleaf indicamos que lo estamos utilizando-->
<head th:replace="template :: head"> <!-- Remplazamos el head de nuestro, template. -->

</head>
<body>
    <header th:replace="template :: header"></header>
        <div class="container">
            <h1 th:text="${title}"></h1>
            <!--<p th:text="${listOfBranches}"></p>--> <!-- Mostramos la variable en un texto -->
        </div>

        <div class="container">

            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">País</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Sucursales</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:object="${branchDTO}"> <!-- Llamamos a la sucursal -->
                        <th scope="row" th:text="*{pk_BranchID}"></th>
                        <td th:text="*{branchName}"></td>
                        <td th:text="*{branchCountry}"></td>
                        <td th:text="*{branchType}"></td>
                        <td>

                            <a class="btn btn-info btn-sm" th:href="@{/branch/getAll}" th:text="'Sucursales'" title="Lista sucursales">
                            </a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    <footer th:replace="template :: footer"></footer>
</body>
</html>